@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
	font-family: 'Figtree', sans-serif;
	box-sizing: border-box;
	color: #f3f5f7;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0A0A0A;
}

.full-profile-space {
	height: 100vh;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.profile-space {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile-container {
  height: 95%;
  width: 100%;
  background-color: #181818;
  margin: auto;
  border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.instant-email-space {
  height: 135px;
  width: 100%;
  background-color: #181818;
  border-radius: 20px;
  border: 1px solid #f3f5f744;
	display: flex;
	align-items: center;
	justify-content: center;
}

.instant-email-container {
	width: 80%;
	height: 60%;
	margin: auto;
}

.instant-email-text {
	margin: auto;
	font-size: 14px;
	color: #f3f5f7;
	text-align: center;
}

.profile-banner-container {
  height: 126px;
  width: 100%;
	background-color: #181818;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #f3f5f744;
}

.profile-banner {
	width: 100%;
	object-fit: contain;
	border-radius: inherit;
}

.profile-nobanner {
  width: 100%;
	height: calc(100% - 5%);
  background-color: #181818;
  border: 1px solid #f3f5f744;
	border-radius: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-nobanner-container {
	width: 80%;
	height: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 26px;
	justify-content: space-between;
}

.profile-name {
	color: #f3f5f7;
	margin: 0;
	font-size: 16px;
	display: inline;
}

.profile-username {
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	color: #777777;
	display: inline;
	width: 70%;
}

.profile-status-bg {
	width: 70%;
	height: auto;
	background-color: #1e1e1e;
	border-radius: 10px;
	border: 1px solid #f3f5f744;
	box-sizing: border-box;
	padding: 6px;
	margin-top: 4px;
}

.profile-status-text {
	font-size: 10px;
	color: #777777;
	margin: 0;
	text-align: center;
}

.profile-info-container {
	display: flex;
}

.profile-info {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 70%;
}

.profile-pfp-div {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}

.profile-pfp {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
	image-rendering: smooth;
}

.empty-space {
	width: 100%;
	height: 60%;
	background-color: #1e1e1e;
	border-radius: 20px;
	border: 1px solid #f3f5f744;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty-space-text-container {
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.empty-space-text-1 {
	margin: auto;
	font-size: 16px;
	color: #777777;
	text-align: center;
}

.empty-space-text-2 {
	margin: auto;
	font-size: 10px;
	color: #777777;
	text-align: center;
}

.subscribe-button {
	width: 100%;
	height: 40px;
	background-color: #f3f5f7;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe-text {
	color: #0A0A0A;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}





.web-space {
	position: relative;
	left: 30%;
	height: 100%;
	width: calc(100% - 30%);
}

.section-1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.newsletter-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}
.newsletter-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 240px;
	height: calc(100% + 10%);
	background-color: #181818;
	border-radius: 14px;
	border: 1px solid #f3f5f744;
	padding: 15px 15px calc(30px - 2%) 15px;
}
.newsletter-image {
	position: relative;
	border-radius: 14px;
	overflow: hidden;
}
.newsletter-image img {
	object-fit: cover;
	width: 100%;
	border-radius: inherit;
	display: block;
}
.date-label {
	position: absolute;
	top: calc(87px + 1%);
	right: 8px;
	padding: 4px 8px;
	border: 1px solid #777;
	border-radius: 14px;
	font-size: 10px;
	color: #777;
	font-weight: 600;
	background-color: rgba(0,0,0,0.75);
	z-index: 2;
	backdrop-filter: blur(2px);
}
.newsletter-info {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;
}
.newsletter-title {
	font-size: 12px;
	color: #f3f5f7;
}
.newsletter-description {
	font-size: 10px;
	color: #f3f5f7;
}
.newsletter-container article:first-child .newsletter-info::after {
	content: "NEWEST";
	position: absolute;
	bottom: -30%;
	right: 0;
	padding: 2px 6px;
	border: 1px solid #777777;
	border-radius: 14px;
	font-size: 8px;
	color: #777777;
	font-weight: 600;
}
.newsletter-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
	margin: auto;
	width: 100%;
}